body {
    display: grid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    align-items: center;
    gap: 0 12px;
    background-color: rgb(255, 255, 255);
}

header>ul {
    width: 80%;
    display: flex;
    list-style: none;
    gap: 0 12px;
}

header>div {
    width: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0 12px;
    background-color: rgba(255, 255, 255, 0.69);
    font-size: 15px;
}

#buttonIng {
    width: 80px;
    height: 35px;
    border: 1px solid rgb(247, 90, 33);
    border-radius: 12px;
    background-color: rgb(248, 97, 42);
    color: white;
}

#button_public {
    display: flex;
    gap: 12px;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 12px;
    font-weight: bold;
}

nav {
    width: 100%;
    display: flex;
    background-color: #570f53;
    ;
}

#nav_par {
    width: 80%;
    display: grid;
    color: white;
}

#buttonCont {
    width: 150%;
    height: 100%;
    background-color: rgb(250, 89, 31);
    color: white;
    border: none;
    border-radius: 12px;
}

#cont {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 20%;
    align-content: center;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.ico {
    background-color: azure;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(240, 81, 23);
}

.caja1 {

    margin-bottom: 10px;
}

.size {
    height: 400px;
    background-color: rgba(228, 228, 228, 0.944);
    border: none;
    border-radius: 8px;
}

.cajaEstilo {
    background-color: rgba(228, 228, 228, 0.944);
    border: none;
    border-radius: 8px;
    height: 450px;

}

#check {
    display: flex;
    align-items: center;
    font-size: 12px;
}

#check>input {
    width: 17px;
    height: 17px;
}

/*formulario inicio*/

form {
   
    margin: 2%;
    padding: 1%;
    width: 100%;
    margin-top: 15px;
}

#conPrecio {
    width: 90%;
    font-size: 13px;
    box-shadow: 0px 1px 0px rgba(201, 195, 195, 0.855);
}

input {
    border: 1px solid rgba(141, 142, 146, 0.758);
    border-radius: 8px;
    padding: 0 2%;
    margin-top: 2%;
}

#email {
    width: 87%;
    height: 40px;
}

#nombre {
    width: 40%;
    height: 40px;
}

#telefono {
    width: 40%;
    height: 40px;
}

#mensaje {
    width: 87%;
    border: 1px solid rgba(43, 52, 136, 0.758);
    border-radius: 8px;
    padding: 0 2%;
    margin-top: 2%;
}

#btnFormulario {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 74, 12);
    margin: 2%;
    height: 40px;
    width: 85%;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#btnwhatssap {
    display: flex;
    background-color: rgba(29, 206, 47, 0.91);
    align-items: center;
    justify-content: center;
    border-style: solid;
    border: none;
    border-radius: 12px;
    margin: 2%;
    height: 40px;
    width: 85%;
    gap: 2px;
    color: white;
}

#btnwhatssap>h5 {
    font-size: 14px;
    font-weight: bold;
}

#btnwhatssap:active {
    background-color: chartreuse;
}

#vermas {
    display: grid;
}

#vermas>h4 {
    margin-bottom: 20px;
    font-weight: bold;
}

#depa2 {
    display: grid;
    margin: 1% 0;
}

.estiloDep {
    border: none;
    border-radius: 12px;
    padding: 0 0.5% 1% 1%;
    background-color: rgba(225, 228, 228, 0.682);
    gap: 12px;
}

#myDIV {
    width: 100%;
    padding: 1%;
}

#myDIV4 {
    width: 100%;
}

#caracGeneral {
    display: grid;
    gap: 12px;
}

.part1 {
    width: 50%;
    box-sizing: border-box;
}

.part2 {
    width: 50%;
    box-sizing: border-box;
}

#cajadep {
    display: flex;
    gap: 12px;
}

#myDIV4>div>p {
    font-size: 12px;
}

#myDIV5>div>p {
    font-size: 12px;
}

#myDIV6>div>p {
    font-size: 12px;
}

#myDIV7>div>p {
    font-size: 12px;
}

#myDIV8>div>p {
    font-size: 12px;
}

#myDIV9>div>p {
    font-size: 12px;
}

#desc2 {
    width: 97%;
}

#desc2>h5 {
    font-weight: bold;
    font-size: 14px;
}

#desc1 {
    width: 97%;
}

#desc1>h5 {
    font-weight: bold;
    font-size: 16px;
}

#desc1>p {
    color: darkgray;
    font-size: 14px;
}

#max {
    width: 3%;
}

.estilomas {
    border: none;
    text-decoration: none;
    font-size: 20px;
    color: coral;
}

#max>a {
    text-decoration: none;
    font-size: 20px;
    color: coral;
}

#terminos {
    font-size: 10px;
    padding: 0% 10% 0% 2%;
}

#terminos>a {
    text-decoration: none;
    color: rgb(255, 43, 1);
}

/*fin del formulario*/

#container {
    display: grid;
    grid-template-rows: repeat();
    background-color: aquamarine;
    width: 100%;
}

#imgen {
    height: 550px;
}

#botonFoto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 12px;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(228, 233, 233);
    width: 90px;
    height: 40px;
    left: 10px;
    top: -18px;
    border-radius: 10px;
    color: rgb(155, 152, 152);
    font-size: 15px;
}

#botonGaleria {
    width: 110px;
    height: 40px;
    position: relative;
    left: 85%;
    top: -130px;
    border: 2px solid coral;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
}

.carousel-item img {
    width: 100%;
    max-height: 500px;
}

#descripcion {
    display: grid;
    position: relative;
    left: -4%;
}

#myDIV {
    width: 100%;
    display: grid;
}

#descripcion>ul {
    display: flex;
    list-style: none;
    gap: 0 12px;
    font-size: 14px;
    color: rgb(165, 163, 163);
}

#descripcion>ul>li>a {
    color: black;
}

#descripcion>ul>li>img {
    width: 60%;
    height: 70%;
    position: relative;
    left: 55%;
}

#li_cambia {
    color: black;
}

#containerCarac {
    width: 98%;
    display: flex;
    padding: 0 1%;
}

#nav_lateral {
    width: 25%;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 30px;


}

#section1 {
    width: 75%;
    margin: 0 2% 0 0;
}

.nav_eleme {
    display: grid;
    width: 95%;
    margin: 0 3%;
    height: 100%;
    box-shadow: 0px 1px 0px rgba(201, 195, 195, 0.855);
    padding: 9px 0px 0px 0px;
}
.newelem{
    display: flex;
}

.newelem>p {
    display: grid;
    width: 50%;
    gap: 5px;
    font-size: 12px;
}

.newelem>p span {
    font-size: 15px;
    font-weight: bold;
}

#caracteristica>h3 {
    font-weight: bold;
    font-size: 20px;
}

#masCont {
    margin: 0 0 5% 0;
}

#masCont>a {
    color: rgb(248, 93, 36);
    font-weight: bold;
}

#ubicacion>h6 {
    margin-top: 40px;
    color: rgb(150, 146, 146);
}

#ubicacion>p {
    font-size: 12px;
    color: rgb(143, 138, 138);
}

.buttonOp {
    margin: 1%;
    border: 1px solid rgb(166, 168, 170);
    border-radius: 10px;
    padding: 0% 2%;
    font-size: 15px;
    background-color: white;
}

#mapa>iframe {
    width: 100%;
}

.opcioCact {
    display: grid;
    margin-top: 12px;
}



.logo {
    display: flex;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 10px;
    height: 25%;
}

.logo>img {
    width: 135%;
    height: 80%;
}

#phone img {
    width: 10%;
    height: 5%;
}

#phone h5 {
    color: darkgray;
    font-size: 15px;
}

#numphone {
    font-weight: bold;
}

#verphone {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    color: rgb(235, 80, 23);
    left: -55px;
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 3%;
}

#verphone:hover {
    color: rgba(220, 220, 220, 0);
    background-color: rgba(255, 255, 255, 0);
}

#pie_pagina {
    display: flex;
    margin-top: 13px;
    background-image: url(..//img/fondo_pie_pagina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.opcion {
    width: 25%;
    height: 100%;
    color: white;
    display: grid;
    padding: 2%;
}

.opcion a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-top: 12px;
}

.opcion h2 {
    font-size: 20px;
    font-weight: bold;
}

#aplica {
    display: flex;
}

#app h1 {
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: bold;
}

#appimg {
    margin-top: 50px;
}

#pie {
    background-color: #410b3e;
    color: white;
}

/*linea de tiempo*/
.linea {
    color: #383838;

}
.events{
display: flex;

}
.events>ol{
    color: #7b9d6f;
    text-decoration: none;
    list-style: none;
}
.events > ol > li > a{
    position: relative;
    color: rgb(173, 164, 164);
  font-size: 11px;

}
#li1{
    position: relative;
    bottom: 12px;
    left: -25px;
}
#li2{
    position: relative;
    bottom: 12px;
    left: -5px;
}
#li3{
    position: relative;
    bottom: 12px;
    left: -5px;
}
#li4{
    position: relative;
    bottom: 12px;
    left: 10px;
}


.cd-horizontal-timeline .timeline {
    height: 60px;
    width: 15%;

}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 80%;
    margin: 0 10px;

}

.cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 2;
    top: 39px;
    height: 3px;
    /* width will be set using JavaScript */
    background: #cfcdcd;
   
}

.cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f15932;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
     
}

.cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    color: #333030;


 
}

.cd-horizontal-timeline .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    transform: translateX(-20%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 7px solid #b4b2b2;
    background-color: #ada8a8;

}

.cd-horizontal-timeline .events a.selected::after {
    background-color: #f05131;
    border-color: #e75220;
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #e75a18;
}

@media only screen and (min-width: 1100px) {
  
  
}

.cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
}




.cd-timeline-navigation a.next {
   
}

.no-touch .cd-timeline-navigation a:hover {
    border-color: #f36d1f;
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed;
}

.cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;

    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
}

.cd-horizontal-timeline .events-content li {

    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li>* {
    max-width: 800px;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-content h2 {

    font-size: 2.6rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;

}

.cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
    content: '- ';
}

.cd-horizontal-timeline .events-content p {
    font-size: 1.4rem;
    color: #959595;
}

.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
    line-height: 1.6;
}

@media only screen and (min-width: 768px) {
    .cd-horizontal-timeline .events-content h2 {
        font-size: 7rem;
    }
    .cd-horizontal-timeline .events-content em {
        font-size: 2rem;
    }
    .cd-horizontal-timeline .events-content p {
        font-size: 1.8rem;
    }
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}